.user {
    border: 1px solid #636363;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(66, 66, 66);
    padding: 10px;
    margin: 5px 0px;
    width: 40vw;
    margin: 10px;
    background-color: rgb(0, 0, 0);
}

#lista-usuarios {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

body{
    display: grid;
    /* grid-template-rows: 1fr, 2fr; */
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

#titulo{
    text-align: center;
}

h1,h2,p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h1{
    color: rgb(0, 0, 0);
}